* {
    margin: 0;
    padding: 0;
}

header {
    background-color: bisque;
    margin: 0 auto;
}

.autentificare {
    width: 10%;
    background-color: rgb(231, 228, 228);
    border-radius: 5px;
}